<!DOCTYPE html>
<html>
  <title>Turtlecodez' Website</title>
  <style>
    .center {
      text-align: center;
    }
    .nonbold {
      font-weight: normal;
    }
    .chunky {
      font-size: 30;
    }
  </style>
  <head>
    <h1 class="center" style="color:lightgreen" display:inline-block">turtlecodez' website</h1>
    <h2>Hey! I'm Turtlecodez.</h2>
  </head>
  <body>
    <h3 class="nonbold">I code cool stuff, like this website, and I've made a few things. Check them out with the links below!</h3>
    <a class="chunky" href="https://turtlecodez.cyclic.app/games">Turtlecodez' Games</a>
  </body>
  
</html>
